.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  height: 100dvh;
  width: 100dvw;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input,
button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background: transparent;
}
